@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);

* {
  text-decoration-color: #4242c7 !important;
  background: black !important;
}

.home {
  background-image: url('/overlay.png') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;

  * {
    background-color: transparent !important;
  }
}

:root {
  background-color: black;
}

.footer {
  padding: 0 !important;
  border-top: none !important;
}

a {
  border-color: #4242c7 !important;
  // color: #4242c7 !important;
}

code {
  background-color: $lightBackgroundColor !important;
}

.language-shell, .language-solidity, .language-sh, .language-md, .language-huff, .language-bash, .language-javascript, .language-plaintext, .token, .function {
  background-color: $lightBackgroundColor !important;
}

h1 {
  font-family: "Roboto";
  font-size: 48px;
  text-decoration: underline;
}

h2 {
  border-bottom: none;
}

.navbar .home-link span,
.sidebar .sidebar-group .sidebar-heading {
  color: $textColor;
  font-family: "Roboto";
  text-decoration: underline;
  font-style: italic;
  background-color: black;
}

.sidebar .sidebar-heading {
  opacity: 1 !important;
  background-color: black !important;
}

.home .hero {
  text-align: center;

  img {
    width: 256px;
  }
}

.home .hero .action-button {
  color: black !important;
  background-color: black !important;
  border: 1px solid black !important;
  font-family: "Roboto";
  margin: 15px auto;
  cursor: pointer;
  width: 250px;
  display: block !important;
}

.home .hero .action-button u {
  text-decoration: $accentColor underline;
  text-decoration-thickness: 2px;
}

.home .hero .action-button:hover {
  -webkit-box-shadow: 5px 5px 0px -1px $accentColor;
  box-shadow: 5px 5px 0px -1px $accentColor;
}

.tag-info-block {
  padding: 0.5rem 1.5rem;
  color: $textColor;
  background-color: $lightBackgroundColor;
  border-left: 8px solid $textColor;
}

a > code {
  color: #4242c7 !important;
}

#tagline {
  position: relative;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    left: -10px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: -10px;
  }
}

.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;

  .suggestions {
    left: auto !important;
    right: 0 !important;
  }
}

.home .features {
  border-top: none !important;
  justify-content: space-around !important;
  margin: auto !important;
  padding: 0.5em 2em !important;
  align-items: initial !important;
  align-content: center !important;
}

.home .features h2 {
  cursor: pointer;
  font-size: 20px !important;
  font-weight: 600 !important;
  background-color: #1f1f1f !important;
}

.home .features p {
  cursor: pointer;
  font-size: 16px !important;
  background-color: #1f1f1f !important;
}

.home .features .icon-container {
  height: 44px;
  width: 44px;
  background-color: #FFF0F1 !important;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF0420;
}

.home .features .feature {
  cursor: pointer;
  box-shadow: 0px 6px 8px -6px rgba(20, 23, 26, 0.12), 0px 8px 16px -6px rgba(20, 23, 26, 0.08);
  border-radius: 16px !important;
  margin: 0 !important;
  margin-bottom: 1rem !important;
  padding: 1.5rem !important;
  background-color: #1f1f1f !important;
  max-width: 25% !important;
  border: solid;
  border-color: #4242c7 !important;
  border-width: 1px !important;
  min-width: 200px !important;
}

.home .features .feature:hover {
  background-color: #4242c7 !important;
  box-shadow: 0 0 25px #4242c7;
}


.home .features .feature:hover h2 {
  background-color: #4242c7 !important;
}

.home .features .feature:hover p {
  background-color: #4242c7 !important;
}

.features-header {
  margin-top: 30px;
  margin-bottom: 0px;
}

#main-title {
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 3s forwards;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }

.links {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

#icon {
  text-decoration: none !important;
  color: white !important;
}

svg:hover {
  filter: drop-shadow(0 0 20px #FFF0F1);
}

.footer {
  margin-top: 20px !important;
  padding: 10px !important;
}